body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo_de_login.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 150vh;

}

.login-box {
    width:  320px;
    height: 420px;
    background: url(../img/ima_loin.jpg) no-repeat center top;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 54px 32px;
}

.login-box .avatar {
    width: 75px;
    height: 75px;
    border-radius: 10%;
    border-radius: 50px;
    background: #ffffff;
    border: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: absolute;
    top: -50px;
    left: 130px
    
}
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #464646;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.login-box a:hover {
    color: #0086d3;
}